ul {
    -webkit-padding-start: 0px;
    list-style: none;
    position: absolute;
    bottom: 10px;
}

li {
    padding-left: 1em;
    text-indent: -.7em;
}

li::before {
    content: "• ";
    color: blue; /* or whatever color you prefer */
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}
